body
{
    background-color: #ffffff;
    text-align :center;
}
.accueil
{
    display:flex;
    position: absolute;
    width : 100%;
    top : 1%;
    justify-content: center;
    font-size : 5rem;
}
.menu 
{
    display : flex;
    position : absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    left : 5%;
    top: 10%;
    border : solid rgb(245, 226, 202);
    border-radius: 1px;
    font-size : 2.5rem;
}

.accord
{
    display : flex;
    position :relative;
    text-align :center;
    
    flex-direction: column;
    width: 90%;
    left : 1%;
    height : 220px;
    margin :auto ;
    padding : auto;
    border : solid rgb(0, 0, 0);
}
.checkbox
{
    height : 40px;
    width : 80px;
}
input
{
    
   
    justify-content: center;
    font-size : 2rem;
    width: 600px;
    height : 100px;
    margin : 10px;
    
}
.pubg
{
    display : none;
    position : absolute;
    width : 14%;
    left : 0%;
    height : 600px ;
    top : 5% ;
    border : solid black;
    
}
.pubd
{
    display : none;
    position : absolute;
    width : 14%;
    right : 0%;
    height : 600px ;
    top : 5% ;
    border : solid black;
}